<h3>Day by Day</h3>

<h3 class="highlight"><%= Date.today %></h3>
<h5>Protein: <%= @protein_percent.to_i %></h5>
<h5>Carbohydrate: <%= @carbohydrate_percent.to_i %></h5>
<h5>Fat: <%= @fat_percent.to_i %></h5>
<% if @user.trackers.posted_today.last.met == true %>
	<h5>Goal met for today</h5>
<% end %>